.list {
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 20px;
}

.listItem:not(:last-child) {
  margin-right: 20px;
}

.link {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  letter-spacing: 0.8px;
  color: rgb(97, 96, 96);
}

.activeLink {
  color: white;
}
